#root {
  max-width: 1600px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.field {
    display: flex;
    flex-direction: column;

    .row {
        display: flex;
    }
}

.cell {
    display: inline-block;
    width: 30px;
    border: 1px solid black;
    text-align: center;
    line-height: 30px;
    color: black;
    /* overflow: hidden; */
    aspect-ratio: 1;
    position: relative;

    .tooltip {
        visibility: hidden;
        width: 120px;
        background-color: #f0f0f0;
        color: #000;
        text-align: center;
        border-radius: 6px;
        border: 1px solid #000;
        bottom: 120%;
        left: 50%;
        margin-left: -60px;
        position: absolute;
    }
}

.cell:hover {
    background-color: #f0f0f0;

    .tooltip {
        visibility: visible;
    }
}

.fieldInput {
    width: 300px;
    height: 300px;
    font-family: Menlo, Monaco, 'Courier New', monospace;
}
